.App {
  font-family: 'Exo';
  font-weight: 100;
  background-color: rgb(37, 41, 41);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.App-title {
  text-align: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.Code-title {
  font-size: 1.5em;
}

.Clickable {
  font-style: normal;
  font-weight: 100;
}
.Clickable:hover {
  cursor: pointer;
  /* text-decoration: underline; */
  font-style: italic;
  /* font-size: 1.2em; */
  /* letter-spacing: 0.1em; */
  /* color: lime; */
}

.Main-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
}

.Blocks-and-trxs {
  display: flex;
  flex-direction: column;
  margin-left: 5em; 
  margin-right: 5em; 
}
.Latest-blocks {
  color: salmon;
  border: 2px solid salmon;
  padding: 1em;
  flex-grow: 2;
  flex: 1;
  /* width: 45%; */
  border-radius: 4px;
  font-size: 0.8em;
  /* font-style: italic; */
  text-align: left;
}

.Color-block {
  color: salmon; 
}
.Color-trx {
  color: #a9e61c;
}
.Block {
  width: 15%;
}
.Block-info {
  display: flex;
  font-style: italic;
  /* flex: 2; */
  /* justify-content: space-between; */
  /* align-content: flex-start; */
}
.Block-list {
  /* background-color: palegreen; */
  /* flex: 1; */
  padding-top: 0.5em;
  width: 15%;
  border-right: 2px solid salmon;
}
.Block-info-separator {
  
  /* margin-top: 2em; */
  margin-bottom: 0.5em;
}
.Block-details{
  padding-top: 2em;
  padding-left: 2em;
  /* display: flex; */
  /* background-color: orange; */
  /* margin-left: -1em; */
  margin-bottom: 0.5em;
}
.pullright {
  padding-left: 1em;
}
.Block-details-row {
  width: 20rem;
  display: flex;
  /* flex: 1; */
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.Block-transactions {
  flex: 1;
  margin-top: 5em;
  padding: 2em;

  /* border: 1px solid rgb(96, 247, 164); */
  border: 2px solid #a9e61c;
  border-radius: 4px;
  
  font-style: italic;
  color: #a9e61c;
  text-align: left;
  font-size: 0.8em;
}

.Transaction-details {
  flex: 1;
  margin-right: 5em; 

  color: rgb(73, 199, 199);
  border: 2px solid rgb(73, 199, 199);
  border-radius: 4px;
  padding: 2em;
  font-style: italic;
  text-align: left;
  font-size: 0.8em;
}

hr {
  border-color: cyan;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Details-intro {
  padding-top: 2em;
  padding-right: 5em;
}

.Title {
  font-size: 1.5em;
  font-style: italic;
  /* text-decoration: underline; */
}
.Content {
  padding-left: 2.5em; 
}


.Details-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
